@font-face {
  font-family: 'MICEGothic Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}


*{padding:0;margin:0;box-sizing: border-box; list-style-type: none;
  font-family: 'MICEGothic Bold';

}


.wrap{
  padding:20px;
  width:100vw;
  height:100vh;
  /* background: rgb(152,119,252);
background: linear-gradient(123deg, rgba(152,119,252,1) 0%, rgba(222,130,255,1) 100%); */
position:relative;
}
.wrap:before{
  content:"Give up";
  position:absolute;
  top:70%;
  right:50px;
  width:220px;

  color:#ffffff94;
  font-size:100px;
  font-weight:500;
  text-align: right;

}
.calendar{
  padding:20px;
  background-color:#ffffffb2;
  text-align: center;

  border-radius: 25px;

  box-shadow:0 0 25px rgba(0, 0, 0, 0.185)
}
.calendar h1 { padding:20px;}
.calendar table {
  margin:20px auto;
  font-size:20px;
}
.calendar table td {

  width:100px;
  height:80px;
  background-color:#fff;
  margin:5px;
  border-radius: 10px;
  box-shadow:5px 5px 10px rgba(0, 0, 0, 0.185)
}
.calendar table tr td:first-child{
  color:red
}


/* last_month */
.last_month{
  opacity:0.5

}


/* 모달창을 화면 중앙. 최상단에 노출 */
.container {
  /* 모달창 크기 */
  width: 300px;
  height: 200px;

  /* 최상단 위치 */
  z-index: 999;
  
  /* 중앙 배치 */
  /* top, bottom, left, right 는 브라우저 기준으로 작동한다. */
  /* translate는 본인의 크기 기준으로 작동한다. */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* 모달창 디자인 */
  background-color: gray;
  border: 1px solid black;
  border-radius: 8px;
}

/* 모달창 내부 X버튼 */
.close {
  position: absolute;
  right: 10px;
  top: 10px;
}